html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.header-top {
  position: fixed;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto;
  z-index: 5;
}

.header-top a {
  font-family: serif;
  font-weight: bold;
  padding: 20px 25px;
  font-size: 12px;
  transition: all 0.5s;
  outline:none;
}

.header-top a:hover {
  cursor: pointer;
}
.tag{
background-color: rgba(255, 255, 255, 0.6);
}
.tag:hover{
  background-color: rgba(255, 255, 255, 1);
  color: #880000;
}
.Select-tag {
  background-color: #880000;
  color: white;
}
.first-wrapper {
  width: 100%;
  height: 1000px;
  background-image:url("top.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.first-wrapper-g {
  margin: 0 auto;
  margin-top: 300px;
  max-width: 50%;
}

.second-wrapper {
  width: 100%;
  display: flex;
}

.access-wrapper, .Greetings-wrapper, .Reservetion-wrapper, .InsideTheStore-wrapper, .staff, .menu, .party-seat, .recruit {
  display: inline-block;
  height: 350px;
  text-align: center;
}

.access-wrapper {
  width: 20%;
  background-color: white;
}

.Greetings-wrapper {
  width: 20%;
  background-color: #24190E;
}

.Reservetion-wrapper {
  width: 20%;
  background-color: #880000;
}

.InsideTheStore-wrapper {
  width: 40%;
  background-image: url("in-store.png");
  background-size: cover;
  background-position: center;
}

.third-wrapper {
  width: 100%;
  display: flex;
}

.staff {
  width: 20%;
  background-image: url("staff.png");
  background-size: cover;
  background-position: center;
}

.menu {
  width: 30%;
  background-image: url("menu.png");
  background-size: cover;
  background-position: center;
}

.party-seat {
  width: 30%;
  background-image: url("party-sheet.png");
  background-size: cover;
  background-position: center;
}

.recruit {
  width: 20%;
  background-color: #24190E;
}

.icon-container {
  display: inline-block;
  margin-top: 120px;
}

.icon {
  height: 4vw;
}

.icon-word {
  font-size: 1vw;
}

.icon-word2 {
  color: rgb(242, 233, 233);
}

.icon-container:hover {
  cursor: pointer;
}

.fourth-wrapper {
  width: 100%;
  background-image: url("orner.png");
  background-size: cover;
  background-position: center;
  z-index: 2;
  display: flex;
}

.history {
  width: 380px;
  margin-left: 53%;
  padding: 15px 40px;
  background-color: rgba(299, 299, 299, 0.7);
}

.greeting {
  padding-top: 20px;
  font-size: 1.2vw;
}

.greeting-container {
  margin-top: 20px;
  font-size: 90%;
  line-height: 130%;
}

.king-sign {
  font-size: 150%;
  font-family: 'Yu Mincho';
  line-height: 110%;
  font-weight: bold;
}

.fifth-wrapper {
  height: 350px;
  width: 100%;
}

iframe {
  width: 100%;
}

.sixth-wrapper {
  width: 100%;
  margin-top: 100px;
  display: flex;
}

.InsideTheStore {
  width: 50%;
  background-image: url("in-store.png");
  background-size: cover;
  background-position: center;
}

.shopInformation {
  width: 50%;
  background-size: cover;
  background-position: center;
}

.shopInformation-container {
  padding: 5% 20%;
  line-height: 120%;
}

span {
  color: rgba(154, 19, 19, 1);
}

h1 {
  font-size: 190%;
  font-weight: bold;
  text-align: center;
}

.seventh-wrapper {
  width: 100%;
  display: flex;
}

.delivery {
  width: 50%;
}

.delivery-container {
  padding: 5% 25%;
  line-height: 120%;
}

.btn {
  width: 200px;
  height: 25px;
  display: block;
  margin: 0 0 0 auto;
}

.btn:hover {
  cursor: pointer;
}

.woman {
  width: 50%;
  background-image: url("girl.png");
  background-size: cover;
  background-position: center;
}

.eight-wrapper {
  height: 650px;
  width: 100%;
  background-image: url("weiter.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.ninth-wrapper {
  height: 1083px;
  width: 100%;
  margin: 0 auto;
}

.recruit-wrapper {
  padding: 2% 25%;
  line-height: 120%;
  font-size: 90%;
}

.ricruit-form {
  margin-top: 2%
}

.name {
  width: 48%;
  margin-right: 4%;
  padding: 1%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid black;
}

.adress {
  width: 48%;
  padding: 1%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid black;
}

.tell-number {
  margin-top: 2%;
  width: 100%;
  padding: 1%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid black;
}

.message-wrapper {
  resize: none;
  width: 100%;
  height: 150px;
  margin: 2% 0 2% 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid black;
}

.submit {
  margin-bottom:15%;
  outline: none;
  border: 2px solid rgb(112, 20, 20);
  border-radius: 10px;
  background-color: rgb(157, 31, 31);
  font-weight: bold;
  font-size: 100%;
  color: white;
  box-shadow: 0px 10px rgb(78, 11, 11);
}

.submit:hover {
  cursor: pointer;
}

.submit:active {
  box-shadow: none;
  position: relative;
  top: 10px;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #24190E;
  position: fixed;
  bottom: 0;
}

.footer-logo {
  font-size: 16px;
  line-height: 70px;
  padding-left: 20%;
  color: white;
}
