.header-top{
  position:fixed;
  width:100%;
  text-align: center;
  padding-top:50px;
  margin:0 auto;
  z-index: 5;
}
.header-top a{
  font-family:serif;
  font-weight:bolder;
  padding:20px 25px;
  background-color:rgba(255,255,255,0.6);
  font-size:12px;
  transition:all 0.5s;
}
.header-top a:hover{
  background-color:rgba(255,255,255,1);
  color:#880000;
}
#red-tag{
  background-color:#880000;
  color:white;
}
.first-wrapper{
  width:100%;
  height:1000px;
  background-image: url("https://static.wixstatic.com/media/403c3a_21e6b94a18cb49eb95e8a8c329b06b4b~mv2_d_2500_1663_s_2.jpg/v1/fill/w_1899,h_1250,al_c,q_90,usm_0.66_1.00_0.01/403c3a_21e6b94a18cb49eb95e8a8c329b06b4b~mv2_d_2500_1663_s_2.webp");
  background-size:cover;
}
.second-wrapper{
  width:100%;
  display: flex;
}
.access-wrapper,.Greetings-wrapper,.Reservetion-wrapper,.InsideTheStore-wrapper,.staff,.menu,.party-seat,.recruit{
  display:inline-block;
  height:350px;
}
.access-wrapper{
  width:20%;
  background-color:white;
}
.Greetings-wrapper{
  width:20%;
  background-color:#24190E;
}
.Reservetion-wrapper{
  width:20%;
  background-color:#880000;
}
.InsideTheStore-wrapper{
  width:40%;
  background-image:url("https://static.wixstatic.com/media/403c3a_3b52b97556ff471f8c112d292fddd1f2~mv2.jpg/v1/fill/w_842,h_665,al_c,q_85/403c3a_3b52b97556ff471f8c112d292fddd1f2~mv2.webp");
  background-size:cover;
}
.third-wrapper{
  width:100%;
  display: flex;
}
.staff{
  width:20%;
  background-image:url("https://static.wixstatic.com/media/403c3a_93b8e4bfbbe04713a34cb4422f266b1e~mv2_d_2500_1663_s_2.jpg/v1/fill/w_264,h_438,al_c,q_80,usm_0.66_1.00_0.01/403c3a_93b8e4bfbbe04713a34cb4422f266b1e~mv2_d_2500_1663_s_2.webp");
  background-size:cover;
}
.menu{
  width:30%;
  background-image:url("https://static.wixstatic.com/media/403c3a_038dc9ea5bee4f0d93b99ace2d8bac85~mv2.jpg/v1/fill/w_337,h_400,al_c,lg_1,q_80/403c3a_038dc9ea5bee4f0d93b99ace2d8bac85~mv2.webp");
  background-size:cover;
}
.party-seat{
  width:30%;
  background-image:url("https://static.wixstatic.com/media/403c3a_a71ec2b8d4724f998a68afae00380ea4~mv2.jpg/v1/fill/w_395,h_438,al_c,q_80,usm_0.66_1.00_0.01/403c3a_a71ec2b8d4724f998a68afae00380ea4~mv2.webp");
  background-size:cover;
}
.recruit{
  width:20%;
  background-color:#24190E;
}
.fourth-wrapper{
  height:764px;
  width:100%;
  background-image:url("https://static.wixstatic.com/media/403c3a_345d48461a6c4bb4a96801edb47b3f92~mv2_d_2000_1331_s_2.jpg/v1/fill/w_1899,h_956,al_c,q_85,usm_0.66_1.00_0.01/403c3a_345d48461a6c4bb4a96801edb47b3f92~mv2_d_2000_1331_s_2.webp");
  background-size:cover;
  z-index: 2;
  display:flex;
}
.history{
  height:764px;
  width:380px;
  margin-left:53%;
  padding:15px 40px;
  background-color:rgba(299,299,299,0.7);
}
.greeting{
  font-size:20px;
}
.greeting-container{
  font-size:15px;
}
.fifth-wrapper{
  height:350px;
  width:100%;
}
iframe{
  width:100%;
}
.sixth-wrapper{
  height:600px;
  width:100%;
  margin-top:100px;
  display:flex;
}
.InsideTheStore{
  height:600px;
  width:50%;
  background-image:url("https://static.wixstatic.com/media/403c3a_3b52b97556ff471f8c112d292fddd1f2~mv2.jpg/v1/fill/w_539,h_481,al_c,q_80,usm_0.66_1.00_0.01/403c3a_3b52b97556ff471f8c112d292fddd1f2~mv2.webp");
  background-size:cover;
}


.seventh-wrapper{
  height:600px;
  width:100%;
  display:flex;
}
.delivery{
  height:600px;
  width:50%;
}
.woman{
  height:600px;
  width:50%;
  background-image:url("https://static.wixstatic.com/media/403c3a_81f846c7425c4e6a8df8ef09b22bd4bc~mv2_d_2000_1331_s_2.jpg/v1/fill/w_661,h_750,al_t,q_85,usm_0.66_1.00_0.01/403c3a_81f846c7425c4e6a8df8ef09b22bd4bc~mv2_d_2000_1331_s_2.webp");
  background-size:cover;
}
.eight-wrapper{
  height:750px;
  width:100%;
  background-image: url("https://static.wixstatic.com/media/403c3a_18a2264a38b148eebe9fc04fbd1bfc41~mv2_d_2500_1663_s_2.jpg/v1/fill/w_1329,h_938,al_c,q_85,usm_0.66_1.00_0.01/403c3a_18a2264a38b148eebe9fc04fbd1bfc41~mv2_d_2500_1663_s_2.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.ninth-wrapper{
  height:1083px;
  width:100%;
}

footer{
  height:70px;
  width:100%;
  background-color:#24190E;
  position: fixed;
  bottom: 0;
}
.footer-logo{
  font-size:16px;
  line-height:70px;
  padding-left:20%;
  color:white;
}
